@using MVC.HelloWorld.Models
@model IEnumerable<PizzaViewModel>
@{
    ViewBag.Title = "Pizza";
}
<form class="form-inline">
 
        <label  class="form-group">Search tools</label>

        <input class="form-group" type="text" value="Search ">
    
</form>
<div role="document">
    <ul class="jumbotron">
        @foreach (var item in Model)
        {
          
            <li><input type="submit" value="@item.Name" onclick="@ /><label>@item.Price</label></li>
        }
        

    </ul>
</div>
   

@foreach (var key in ViewData.Keys)
{
    <p>@ViewData[key]</p>
}